<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="GoogleSheetApiKey" value="impactful-bee-392504-8202288b3779.json" />
		<add key="GoogleSheetName" value="Sheet1" />
		<add key="GoogleSheetId" value="14x65OmfZCH0isIQjkeBaNcN43HxJrEhlEABf8HKmJ3s" />
	</appSettings>
</configuration>